/* University of Dundee website inspired */ 

.container {
    height: 100%;
}

.login-form-wrapper {
    background-image: url('garden.png'); /* Images taken from the website of University of Dundee */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height:100%;
    position: relative;
}

.login-form {
    box-sizing: border-box;
    padding: 30px;
    background-color: rgba(255,255,255,0.8);
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 0.1cm;
    
}

.login-submit-button {
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    
    border: none;
    background-color: #4365e2;
    font-family: 'Comfortaa', cursive;
    outline: solid 0.1px white;
    transition: outline 0.1s linear; 
    transition: background-color 0.1 linear;
    box-shadow: none;
    color:white;
}

.login-submit-button:hover {
    outline: solid 2px #4365e2;
    background-color: white;
    color: #4365e2;
}

.login-form label {
    margin-bottom: 20px;
    font-weight: bold;
}

.login-form label input {
    margin-left: 10px;
    float: right;
    background-color: transparent;
    border: none;
    border-bottom: solid 0.5px black;
    width: 150px;
}

.clear {
    clear:both;
}