/* University of Dundee website inspired */ 

.quest-parent-wrapper {
    min-height: 100%;
}

.questionnaireCreator-label {
    margin: 0;
    padding: 20px 15%;
    background-color: white;
    outline: solid 0.1px black;
    
}

.questionnaireCreator-label a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #464646; 
}

.quest-nav-item {
    padding-right: 20px;
}

.quest-wrapper {
    position: relative;
    min-height: 100%;
}

/* ----------------------------------- Redirecting to Login section ---------------------------------------*/

.redirecting_to_login_wrapper {
    background-image: url('campus_green.jpg'); /* Images taken from the website of University of Dundee */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
    min-height: 100%;
    position: relative;
}

.redirecting_to_login {
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.1cm;
}

.redirecting_to_login p {
    font-weight: bold;
    text-transform: uppercase;
}
