/* Importing the font family from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

/* University of Dundee website inspired */ 

/* ------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    background-color: #FFFAF4;
    text-transform: capitalize;
}

*:focus {
    outline: none;
}

/* --------------------------------------------------------*/

.quest-taker-main-wrapper {
    margin: 0 15%;
    padding: 50px 100px;
    border-style: solid;
    border-width: 0.1px;
    color: black;
    background-color: #D1E2F2;   
}

.quest-taker-wrapper {
    margin-bottom: 20px;
    
}

.quest-taker-wrapper div {
    margin-bottom: 10px;
}

.quest-taker-question {
    padding: 5px 0;
    font-weight: bold;
}

.submit-answer-button{
    color: white;
    display: block;
    border: none;
    padding: 10px 20px;
    background-color: #4365e2;
    font-family: 'Comfortaa', cursive;
    outline: solid 0.1px white;
    transition: outline 0.1s linear; 
    transition: background-color 0.1 linear;
    box-shadow: none;
    float:left;

}

.submit-answer-button:hover {
    outline: solid 2px #4365e2;
    background-color: white;
    color: #4365e2;
}

.quest-taker-choose-quest {
    margin-bottom: 10px;
}

