on: push


env:
  AZURE_WEBAPP_NAME: Group7App    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: './Software_Code'      # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '12.18.4'                # set this to the node version to use

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}
    - name: npm install, build, and test
      run: |
        # Build and test the project, then
        # deploy to Azure Web App.
        cd ./Software_Code/testreact
        npm install
        npm run build --if-present
        npm run test --if-present
    - name: "Login to azure"
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: 'Deploy to Azure WebApp'
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.PORTAL_PUBLISH_PROFILEE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}